@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .text-nav {
            &-sm {
                font-size: 18px;
                line-height: 18px;
            }
            &-md {
                font-size: 28px;
                line-height: 28px;
            }
            &-lg {
                font-size: 28px;
                line-height: 28px;
            }
        }
        .text-title {
            &-sm {
                font-size: 40px;
                line-height: 40px;
            }
            &-md {
                font-size: 64px;
                line-height: 64px;
            }
            &-lg {
                font-size: 40px;
                line-height: 40px;
            }
        }
        .text-subtitle {
            &-sm {
                font-size: 14px;
                line-height: 21px;
            }
            &-md {
                font-size: 20px;
                line-height: 30px;
            }
            &-lg {
                font-size: 40px;
                line-height: 40px;
            }
        }
        .text-question {
            &-sm {
                font-size: 20px;
                line-height: 24px;
            }
            &-md {
                font-size: 36px;
                line-height: 43px;
            }
            &-lg {
                font-size: 40px;
                line-height: 40px;
            }
        }
        .text-answer {
            &-sm {
                font-size: 18px;
                line-height: 18px;
            }
            &-md {
                font-size: 28px;
                line-height: 28px;
            }
            &-lg {
                font-size: 40px;
                line-height: 40px;
            }
        }
        .text-score {
            &-sm {
                font-size: 88px;
                line-height: 88px;
            }
            &-md {
                font-size: 144px;
                line-height: 144px;
            }
        }
        .text-result {
            &-sm {
                font-size: 18px;
                line-height: 18px;
            }
            &-md {
                font-size: 24px;
                line-height: 24px;
            }
        }
    }
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f4f6fa;
    background-image: url("/public/images/pattern-background-mobile-light.svg");
    background-size: cover;
}

.answer-container label {
    @apply border-transparent
}

.answer-container input[type="radio"]:checked + label {
    @apply border-accent-purple
}

.main-container {
    @apply flex flex-col lg:flex-row lg:justify-between mt-10 lg:mt-20 text-brand-darkest
}

.answer-container {
    @apply mt-10 sm:mt-16 lg:mt-0 flex flex-col gap-3 sm:gap-6;
}

[class^="rubik"] {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

.rubik-light {
    font-weight: 300;
    font-style: normal;
}

.rubik-light-italic {
    font-weight: 300;
    font-style: italic;
}

.rubik-normal {
    font-weight: 400;
    font-style: normal;
}

.rubik-normal-italic {
    font-weight: 400;
    font-style: italic;
}

.rubik-medium {
    font-weight: 500;
    font-style: normal;
}

.rubik-medium-italic {
    font-weight: 500;
    font-style: italic;
}

.rubik-semi {
    font-weight: 600;
    font-style: normal;
}

.rubik-semi-italic {
    font-weight: 600;
    font-style: italic;
}

.rubik-bold {
    font-weight: 700;
    font-style: normal;
}

.rubik-bold-italic {
    font-weight: 700;
    font-style: italic;
}

.rubik-extra {
    font-weight: 800;
    font-style: normal;
}

.rubik-extra-italic {
    font-weight: 800;
    font-style: italic;
}

.rubik-black {
    font-weight: 900;
    font-style: normal;
}

.rubik-black-italic {
    font-weight: 900;
    font-style: italic;
}
